*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    
}

body{
    background: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

.card{
    margin: 0;
    margin-top: 10px;
    display: flex;
    width: 400px;
    background: #fff;
    overflow: hidden;
    min-height: 600px;
    border-radius: 20px;
    flex-direction: column;
    place-items: center;
}

.Heading{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.text{
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.payment{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 85%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    background: #f0f0f073;
}

.icon{
    margin-right: 15px;
}

.info{
    line-height: 25px;
    
}

.year,
.plan{
    display: block;
    
}

.year{
    color: rgba(172, 172, 172, 0.925);
}

.plan{
    font-weight: bolder;
}



.change{
    margin-left: auto;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: smaller;
    line-height: 50px;
    cursor: pointer;
    color: #3c2fd4;
    font-weight: bold;
}

.proceed{
    padding: 10px 110px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #3c2fd4;
    color: rgb(236, 234, 234);
}

.cancel{
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #9b9b9b
}
